Bibliotheque.dtd

<!ELEMENT Bibliotheque (Ouvrage)>
<!ELEMENT Ouvrage (Reference, Titre, Auteur, Editeur, Edition, Annee, ISBN, Nombre, Commentaire)>
<!ELEMENT Reference (#PCDATA)>
<!ELEMENT Titre (#PCDATA)>
<!ELEMENT Auteur (#PCDATA)>
<!ELEMENT Editeur (#PCDATA)>
<!ELEMENT Edition (#PCDATA)>
<!ELEMENT Annee (#PCDATA)>
<!ELEMENT ISBN (#PCDATA)>
<!ELEMENT Nombre (#PCDATA)>
<!ELEMENT Commentaire (#PCDATA)>
<!ATTLIST Ouvrage Disponibilite CDATA #REQUIRED>
<!ATTLIST Ouvrage Exclu CDATA #REQUIRED>
